[*.cs]

# CS8633: Допустимость значения NULL в ограничениях для параметра типа не соответствует ограничениям параметра типа в явно реализованном методе интерфейса.
dotnet_diagnostic.CS8633.severity = none
